body{
  background: black;
}

.welcome{
  text-align: center;
  background: linear-gradient(to right, #0000ff,#00ffff);
  background-clip: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-family: Tahoma;
}

.texto{
  font-size: 18px;
  font-family: Gotham, Sans-Serif;
  color: white;
}

.portafolio{
  background-color: rgba(64,64,64,0.5);
  margin-bottom: 5px;
  color: white;
}

.fotos{
  background-color: rgba(64,64,64,0.5);
  margin-top: 5px;
  color: white;
}

.resultados{
  background: grey;
  color: white;
  width: 100%;
  margin-top: 5px;
}


*CSS responsivo*:

```
/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Estilos aquí */
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 993px) {
    /* Estilos aquí */
}
```


Recuerda agregar estos estilos en tu archivo CSS o en la etiqueta `<style>` dentro de la etiqueta `<head>`.